.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    max-width:500px;
    border-radius: 22px ;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28)
  } 
  input:focus{
    outline: none;
  }
  @media only screen and (min-width : 992px)
  {
    input[type = text]{
      width:500px;
    }

    .btn{
      max-width: 300px;
    }
  }

  @media only screen and (min-width:768px) and (max-width:1042px){
    input[type = text]{
      width:50%;
    }
  }

  /* .btn
  {
  margin-top:3%;
  max-width: 80px;
  border-radius:15px;
  margin-left: 30%;
  margin-right: 30%;
  background-color : #337ab7;
  color:white;
  border-color: #2e6da4;
  } */

  .btn{
   margin-top: 4px;
   background-color : #337ab7;
   color:white;
   max-width: 80px;
   border-radius:15px;
   position: fixed;
  }

  .removeText{
    display: none;
  }
  

  